<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video SEO Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1>Generate Video Title</h1>
    <div class="input-container">
        <label for="description">Video Description:</label>
        <textarea id="description" placeholder="Enter video description..."></textarea>
        <button id="generateButton">Generate</button>
    </div>
    <div class="result-container">
        <div class="result-box">
            <h2>Title:</h2>
            <div id="titleResult" class="result-text"></div>
        </div>
        <div class="result-box">
            <h2>Description:</h2>
            <div id="descriptionResult" class="result-text"></div>
        </div>
        <div class="result-box">
            <h2>Hashtags:</h2>
            <div id="hashtagsResult" class="result-text"></div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>